:root {
    --primary-color: #ffffff;
    --primary-background-color: #dc3545;
    --secondary-color: #202020;
    --secondary-background-color: #ffffff;
    --app-bar-color: #202020;
    --app-bar-background-color: #ffffff;
    --app-bar-border-color: #f0f0f0;
    /* --primary-color: #ffffff;
    --primary-background-color: #dc3545;
    --secondary-color: #ffffff;
    --secondary-background-color: #101010;
    --app-bar-color: #ffffff;
    --app-bar-background-color: #202020;
    --app-bar-border-color: #303030; */
}

::-webkit-scrollbar {
    width: 4px;
    height: 2px;
    border: none;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

html {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #202020;
    background-color: #ffffff;
    transition: 200ms;
}

body.theme-dark {
    color: #808080;
    background-color: #202020;
}

.dead-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: inherit;
    background-color: transparent;
}

.btn,
.m-input {
    font-size: 14px;
}

.theme-dark .m-input {
    color: #ffffff;
    background-color: #202020;
}

.theme-dark .form-select {
    color: #ffffff;
}

.m-input {
    border: none;
    border-bottom: 3px solid #ccc;
    border-radius: 0;
    padding: 2px 0;
}

.m-input:focus,
.m-input:active {
    outline: none;
    box-shadow: none !important;
    border-color: #dc3545;
}

.loading-backdrop {
    flex-grow: 1;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
}

.useless {
    opacity: 0;
    position: fixed;
    top: -1000px;
}

.link-hover-animation:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 200ms;
}

.profile-picture-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.profile-picture-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background-image: url("../media/profilePicture.png"); */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    border: 3px solid #e0e0e0;
    background-color: #f0f0f0;
}

.profile-picture-select-icon {
    position: absolute;
    bottom: -4px;
    right: -4px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
}

.test {
    border: 1px solid red;
}

.tab-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border: 1px solid red; */
}

.tab-header-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.tab-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 12px 20px;
    cursor: pointer;
    transition: 300ms;
    flex-grow: 1;
    border-bottom: 3px solid transparent;
    font-size: 12px;
}

.tab-header-active {
    border-color: #a0a0a0;
}

.tab-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: absolute;
    left: 0;
    height: 100%;
    transition: 300ms;
}

.tab {
    /* display: flex; */
    /* border: 1px solid red; */
    width: 100vw;
    height: 100%;
    /* padding: 20px; */
    /* background-color: grey; */
    flex-shrink: 0;
}

.profile-page-profile-icon {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 50%;
    border: 3px solid #e0e0e0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.send-more-icon {
    display: flex;
    font-family: "Material Icons Outlined";
    font-size: 24px;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin: 0 4px;
    /* border: 3px solid #6c757d; */
    border: none;
    /* background-color: #6c757d; */
    /* color: #ffffff; */
    border-radius: 50%;
}

.item-wrapper-1 {
    display: flex;
    align-items: center;
    /* margin: 0 10px; */
    padding: 12px 0;
    /* border: 1px solid red; */
    /* border-bottom: 2px solid #f0f0f0; */
}

.item-wrapper-1-control {
    font-family: "Material Icons Outlined";
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 200ms;
}

.item-wrapper-1-control:hover {
    background-color: #e0e0e0;
}

.item-wrapper-1-div-1 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.item-wrapper-1-div-1-1 {
    font-size: 12px;
    /* font-weight: 600; */
}

.item-wrapper-1-div-1-2 {
    /* font-size: 16px; */
    font-weight: 600;
}

.click-scale-animation:active {
    transition: 200ms;
    transform: scale(0.9);
}

.logo-text {
    font-weight: 900;
    font-family: "Nunito", sans-serif;
    color: #dc3545;
    font-size: 12px;
}

.theme-dark .text-dark {
    color: #e0e0e0 !important;
}

.theme-dark .text-muted {
    color: #a0a0a0 !important;
}

.theme-dark .border {
    border-color: #505050 !important;
}

.grow-animation {
    animation: grow-animation 2000ms infinite;
}

@keyframes grow-animation {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-20px);
    }

    40% {
        transform: translateY(0px);
    }
}

/* MESSAGE UI */

:root {
    /* --send-bg: #0B93F6; */
    --send-bg: #ee5d6c;
    --send-color: white;
    --receive-bg: #e5e5ea;
    --receive-text: black;
    --page-background: white;
}

.messages-wrapper {
    font-size: 13px;
    font-weight: normal;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--page-background);
}

.theme-dark .messages-wrapper {
    background-color: #202020;
}

.message {
    max-width: 60%;
    margin-bottom: 6px;
    position: relative;
    transition: 200ms;
    border-radius: 18px;
    line-height: 20px;
    animation: message 200ms;
}

.message-text {
    word-wrap: break-word;
    padding: 8px 16px;
}

.message:active {
    transform: scale(0.85);
}

.message-image {
    background-color: #a0a0a0;
}

.message-image-sent {
    margin-right: 5px;
    align-self: flex-end;
}

.message-image-received {
    margin-left: 5px;
    align-self: flex-start;
}

.message:before,
.message:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 20px;
}

.message-sent,
.message-sent-2 {
    color: var(--send-color);
    background: var(--send-bg);
    align-self: flex-end;
    margin-right: 10px;
}

.message-sent:before,
.message-sent-2:before {
    right: -7px;
    width: 20px;
    background-color: var(--send-bg);
    border-bottom-left-radius: 16px 14px;
}

.message-sent:after,
.message-sent-2:after {
    right: -10px;
    width: 10px;
    background-color: var(--page-background);
    border-bottom-left-radius: 10px;
}

.theme-dark .message-sent:after,
.theme-dark .message-sent-2:after {
    background-color: #202020;
}

.message-received {
    background: var(--receive-bg);
    color: black;
    align-self: flex-start;
    margin-left: 10px;
}

.theme-dark .message-received {
    background: #505050;
    color: white;
}

.message-received:before {
    left: -7px;
    width: 20px;
    background-color: var(--receive-bg);
    border-bottom-right-radius: 16px 14px;
}

.theme-dark .message-received:before {
    background-color: #505050;
}

.message-received:after {
    left: -10px;
    width: 10px;
    background-color: var(--page-background);
    border-bottom-right-radius: 10px;
}

.theme-dark .message-received:after {
    background-color: #202020;
}

.message-seperator {
    align-self: center;
    font-weight: 500;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #6c757d;
}

.message-received-wrapper {
    display: flex;
}

.message-received-icon-alt {
    width: 36px;
}

.message-received-icon {
    width: 36px;
    height: 36px;
    background-position: center;
    background-size: cover;
    background-color: #f0f0f0;
    border: 3px solid #e0e0e0;
    border-radius: 50%;
}

.message-sent-info,
.message-received-info {
    font-size: 11px;
    color: #6c757d;
    font-weight: 500;
}

.message-sent-info {
    align-self: flex-end;
    margin-right: 25px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.message-received-info {
    /* margin-top: 5px; */
    align-self: flex-start;
    margin-left: 60px;
}

.message-file {
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-file-sent {
    margin-right: 5px;
    align-self: flex-end;
}

.send-message-input-field {
    background-color: transparent;
}

.theme-dark .send-message-input-field {
    color: #ffffff;
}

/* ACTIVITY */

.activity,
.activity-static {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: fixed;
    user-select: none;
}

.activity-visible,
.activity-static-visible {
    display: flex;
    z-index: 2;
}

.app-bar {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    user-select: none;
    overflow: auto;
    color: var(--app-bar-color);
    background-color: var(--app-bar-background-color);
    z-index: 1;
}

.theme-dark .app-bar {
    color: #ffffff;
    background-color: #202020;
}

.app-bar-border {
    border-bottom: 2px solid var(--app-bar-border-color);
    /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.15); */
}

.theme-dark .app-bar-border {
    border-bottom: 2px solid #101010;
}

.app-bar-control {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    transition: 150ms;
    border: none;
    color: inherit;
    background-color: transparent;
    /* background-color: #e8e8e8; */
}

.app-bar-control:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.app-bar-control {
    font-family: "Material Icons Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.app-bar-label {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 16px;
    /* font-size: 14px; */
    font-weight: 600;
    padding: 0 14px;
    overflow: auto;
    color: inherit;
    background-color: transparent;
}

.app-bar-label>div {
    flex-shrink: 0;
}

.activity-body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    color: var(--secondary-color);
    background-color: var(--secondary-background-color);
}

.theme-dark .activity-body {
    color: #ffffff;
    background-color: #202020;
}

/* POPUP */

.popup {
    display: none;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    overflow: hidden;
}

.popup-visible {
    display: flex;
}

.popup-backdrop {
    flex-grow: 1;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup-window {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    max-height: 90%;
    border-radius: 40px 40px 0 0;
    position: absolute;
    background-color: var(--secondary-background-color);
    z-index: 2;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.05);
    padding-top: 50px;
    padding-bottom: 30px;
    overflow: auto;
    max-width: 500px;
}

.theme-dark .popup-window {
    background-color: #303030;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    user-select: none;
    transition: 150ms;
    color: #404040;
    border: none;
    background-color: transparent;
}

.theme-dark .menu-item {
    color: #d0d0d0;
}

.menu-item-icon {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /* color: #ffffff; */
    /* background-color: #707070; */
    /* border: 1px solid #e0e0e0; */
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "Material Icons Outlined";
    width: 35px;
    height: 35px;
    margin-right: 5px;
    /* display: none; */
    margin-left: 20px;
    /* color: #DC3545; */
}

.menu-item-label {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

/* PROFILE CARD */

.profile-card {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 12px 30px;
    overflow: auto;
    transition: 200ms;
    cursor: pointer;
}

.profile-card:hover {
    background-color: #f0f0f0;
}

.theme-dark .profile-card:hover {
    background-color: #181818;
}

.profile-card-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-image: url(./res/media/ac.png); */
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    border: 3px solid #e0e0e0;
    cursor: pointer;
}

.theme-dark .profile-card-image {
    border: 3px solid #404040;
    background-color: #303030;
}

.profile-card-content {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0 20px;
    overflow: auto;
}

.profile-card-label {
    flex-shrink: 0;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    overflow: auto;
}

.profile-card-text>div,
.profile-card-text-2>div,
.profile-card-label>div {
    flex-shrink: 0;
}

.profile-card-text-active,
.profile-card-text {
    display: flex;
    overflow: auto;
    font-size: 12px;
    font-weight: 600;
    color: #dc3545;
}

.profile-card-text {
    color: #a0a0a0;
}

.profile-card-meta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 80px;
}

.profile-card-meta-badge {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-weight: 600;
    color: #ffffff;
    background-color: #dc3545;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

/* ANIMATIONS */

.activity {
    animation: activity-in 500ms;
    backface-visibility: hidden;
    perspective: 1000px;
}

.activity-visible-reload {
    animation: activity-reload 500ms;
    backface-visibility: hidden;
    perspective: 1000px;
}

.activity-back-in {
    animation: activity-back-in 500ms;
    backface-visibility: hidden;
    perspective: 1000px;
}

.activity-out {
    animation: activity-out 500ms;
    z-index: 1;
    backface-visibility: hidden;
    perspective: 1000px;
}

.activity-static-visible {
    animation: activity-static-visible 200ms;
    backface-visibility: hidden;
    perspective: 1000px;
}

.activity-static-out {
    animation: activity-static-out 200ms;
    backface-visibility: hidden;
    perspective: 1000px;
}

.popup-backdrop {
    animation: popup-backdrop-in 200ms;
    backface-visibility: hidden;
    perspective: 1000px;
}

.popup-window {
    animation: popup-window-in 200ms;
    backface-visibility: hidden;
    perspective: 1000px;
}

.popup-backdrop-out {
    animation: popup-backdrop-out 200ms forwards !important;
    backface-visibility: hidden;
    perspective: 1000px;
}

.popup-window-out {
    animation: popup-window-out 200ms ease-in forwards !important;
    backface-visibility: hidden;
    perspective: 1000px;
}

.fade-pop {
    animation: fade-pop 200ms;
}

.theme-dark #activity-search-search-box {
    color: white;
}

@keyframes activity-static-visible {
    0% {
        opacity: 0;
    }
}

@keyframes activity-static-out {
    100% {
        opacity: 0;
    }
}

@keyframes activity-in {
    0% {
        transform: translateX(200px) translateZ(0);
    }

    50% {
        transform: translateX(-10px) translateZ(0);
    }
}

@keyframes activity-reload {
    0% {
        transform: translateX(200px) translateZ(0);
    }

    50% {
        transform: translateX(-10px) translateZ(0);
    }
}

@keyframes activity-back-in {
    0% {
        transform: translateX(-200px) translateZ(0);
    }

    50% {
        transform: translateX(10px) translateZ(0);
    }
}

@keyframes activity-out {
    100% {
        opacity: 0;
        transform: scale(0.8) translateZ(0);
    }
}

@keyframes popup-window-in {
    0% {
        opacity: 0;
        transform: translateY(200px) translateZ(0);
    }
}

@keyframes popup-backdrop-in {
    0% {
        opacity: 0;
    }
}

@keyframes popup-window-out {
    100% {
        opacity: 0;
        transform: translateY(200px) translateZ(0);
    }
}

@keyframes popup-backdrop-out {
    100% {
        opacity: 0;
        transform: translateZ(0);
    }
}

@keyframes fade-pop {
    0% {
        opacity: 0;
        transform: translateY(10px) translateZ(0);
    }
}

/* FONTS */

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.fs-1 {
    font-size: 1px;
}

.fs-2 {
    font-size: 2px;
}

.fs-3 {
    font-size: 3px;
}

.fs-4 {
    font-size: 4px;
}

.fs-5 {
    font-size: 5px;
}

.fs-6 {
    font-size: 6px;
}

.fs-7 {
    font-size: 7px;
}

.fs-8 {
    font-size: 8px;
}

.fs-9 {
    font-size: 9px;
}

.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px;
}

.fs-21 {
    font-size: 21px;
}

.fs-22 {
    font-size: 22px;
}

.fs-23 {
    font-size: 23px;
}

.fs-24 {
    font-size: 24px;
}

.fs-25 {
    font-size: 25px;
}

.fs-26 {
    font-size: 26px;
}

.fs-27 {
    font-size: 27px;
}

.fs-28 {
    font-size: 28px;
}

.fs-29 {
    font-size: 29px;
}

.fs-30 {
    font-size: 30px;
}

.fs-31 {
    font-size: 31px;
}

.fs-32 {
    font-size: 32px;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}